<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teaching-Improver</title>
    <style>
        textarea {
            width: 300px;
            height: 400px;
        }
    </style>
</head>

<body>
    <h1>Analyze Paper for used R-Packages</h1>
    <form method="POST" action="/upload" enctype="multipart/form-data">
        <input type="file" name="pdf_files[]" multiple accept=".pdf" lang="en">
        <button type="submit">Analyze</button>
    </form>


</body>

</html>